<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stock.Properties.Settings.MSSQLConnectionString" connectionString="Data Source=|DataDirectory|\MSSQL.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Stock.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=|DataDirectory|\Northwind.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Stock.Properties.Settings.StockConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Stock.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>